<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chris Lansing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chris Lansing's Personal Website">
    <meta name="keywords" content="Chris Lansing,cslansing,Lansing,clansing">
    <meta name="author" content="Chris Lansing">

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl ='//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid',
      pluginUrl]);
      _gaq.push(['_setAccount', 'UA-38866448-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <!-- External Styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">

    <!-- Styles to be added externally when complete -->
    <style type="text/css">
      html, body{
        height:100%;
      }
      body{
        background-image:url('{{ MEDIA_URL }}debut_dark/debut_dark.png');
      } 
      .header{
      }
      .content{
        background-color:#CCCCCC;
        border:1px solid #CCCCCC;
        margin:30px;
      }
      .content-inner{
        background-color:#FCFCFC;
        color:#000000;
        padding:25px 20px 25px;
      }
      #wrap{
        min-height:100%;
        margin:0px auto -60px;
      }
      #footer{
        height:60px;
        
      }
      .credit{
        margin:20px;
      }
      {% block styles %}
      {% endblock %}
    </style>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ MEDIA_URL }}cslfavicon.ico" />
  </head>

  <body>
    <!-- Wrapper -->
    <div id="wrap">
    <!-- Nav bar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a><!-- btn -->
          <a class="brand">Chris Lansing</a>
          <div class="nav-collapse collapse">
            <ul class="nav">{% comment %}overwrite following li class blocks with active for corresponding sections{% endcomment %}
              <li class="{% block active_home %}{% endblock %}"><a href="/">Home</a></li>
              <li class="{% block active_about %}{% endblock %}"><a href="/about/">About</a></li>
              <li class="{% block active_attendance %}{% endblock %}"><a href="/attendance/">Attendance App</a></li>
	      <li class="{% block active_resume %}{% endblock %}"><a href="/resume/">Resume</a></li>
	      <li class="{% block active_training %}{% endblock %}"><a href="/training/">Training Log</a></li>
            </ul><!-- nav -->
          </div><!-- nav-collapse -->
        </div><!-- container -->
      </div><!-- navbar-inner  -->
    </div><!-- navbar -->
    
    <div class="container">
      <div class="content">
        <!-- Header -->
        <div class="header">
        </div>

        <!-- Main Content -->
        <div class="content-inner">
          {% block content %}{% endblock content %}
        </div><!-- content-inner -->
      </div><!-- content -->
    </div><!-- container -->
    </div><!-- wrap -->
    <!-- Footer -->
    <div id="footer">
      <div class="container">
        <p class="muted credit">csl</p>
      </div>
    </div> 
    <!-- Javascript at the bottom for faster page loads -->
    <script src="{{ STATIC_URL }}jquery/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-collapse.js"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
