<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chris Lansing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chris Lansing's Personal Website">
    <meta name="keywords" content="Chris Lansing,cslansing,Lansing,clansing">
    <meta name="author" content="Chris Lansing">

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl ='//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid',
      pluginUrl]);
      _gaq.push(['_setAccount', 'UA-38866448-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <!-- External Styles -->
    <!-- Cyborg theme from bootswatch.com -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/readable/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">

    <!-- Styles to be added externally when complete -->
    <style type="text/css">
      .content-inner{
        padding-top: 20px;
      }
      {% block styles %}
      {% endblock %}
    </style>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ MEDIA_URL }}cslfavicon.ico" />
  </head>

  <body>
    <!-- Nav bar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a><!-- btn -->
          <a class="brand">Chris Lansing</a>
          <div class="nav-collapse collapse">
            <ul class="nav">{% comment %}overwrite following li class blocks with active for corresponding sections{% endcomment %}
              <li class="{% block active_home %}{% endblock %}"><a href="/">Home</a></li>
              <li class="{% block active_about %}{% endblock %}"><a href="/about/">About</a></li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/attendance/">Attendance App</a></li>
                  <li><a href="/training/">Training Log</a></li>
                  <li><a href="/eveapps/testappone">Eve Test App One</a></li>
                  <li><a href="/eveapps/testapptwo">Eve Test App Two</a></li>
                </ul>
              </li>
	      <li class="{% block active_resume %}{% endblock %}"><a href="/resume/">Resume</a></li>
            </ul><!-- nav -->
          </div><!-- nav-collapse -->
        </div><!-- container -->
      </div><!-- navbar-inner  -->
    </div><!-- navbar -->
   <!--
    <div class="site-header">
      {% block header_title %}
      {% endblock header_title %}
    </div>
    -->
    <div class="container">
      <div class="content">
        <!-- Main Content -->
        <div class="content-inner">
          {% block content %}{% endblock content %}
        </div><!-- content-inner -->
      </div><!-- content -->
    </div><!-- container -->
 
    <!-- Javascript at the bottom for faster page loads -->
    <script src="{{ STATIC_URL }}jquery/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-collapse.js"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
