{% extends "base.html" %}
{% block content %}
<div class="page-header">
 <h1>Attendance</h1>
</div>
<div id="attendance">
 <table class="table">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Class ID</th>
        <th>Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for c in checkins %}
        {% if c.studentID|length != 9 %}
          <tr class="error">
            <td>{{ c.studentID }}</td>
            <td>{{ c.classID }}</td>
            <td>{{ c.timestamp }}</td>
            <td>Incorrect Student ID</td>
          </tr>
        {% elif c.classID|length != 7 %}
          <tr class="error">
            <td>{{ c.studentID }}</td>
            <td>{{ c.classID }}</td>
            <td>{{ c.timestamp }}</td>
            <td>Incorrect Class ID</td>
          </tr>
        {% else %}
          <tr class="success">
            <td>{{ c.studentID }}</td>
            <td>{{ c.classID }}</td>
            <td>{{ c.timestamp }}</td>
            <td>Verified</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
<p>Page {{ checkins.number }} of {{ checkins.paginator.num_pages }}</p>
<div class="pagination">
  <ul>
    {% if checkins.has_previous %}<li><a href="?page={{ checkins.previous_page_number }}">Previous Page</a></li>{% endif %}
    {% if checkins.has_next %}<li><a href="?page={{ checkins.next_page_number }}">Next Page</a></li>{% endif %}
  </ul>
</div><!-- pagination -->
</div><!-- attendance -->
<!--<div class="btn btn-primary" onclick="refresh()">Refresh</div><br /><br />-->
<p><small>This page is for an android application that allows students to scan an NFC tag using an android device in order to verify their attendance for a class. Attendance info is sent from the NFC tag via POST, stored in the database, and then displayed on this page.</small></p>
{% endblock content %}
{% block scripts %}
<script type="text/javascript">
function refresh(){
  $('#attendance').load('{% url "attendance" %} #attendance');
}
//var auto_refresh = setInterval(function(){$('#attendance').load('{% url "attendance" %} #attendance')},20000);
</script>
{% endblock scripts %}
