{% extends "base.html" %}
{% block active_attendance %}active{% endblock %}
{% block content %}
<div id="attendance">
  <h2>Attendance Log</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Class ID</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for c in checkin %}
      <tr>
        <td>{{ c.studentID }}</td>
        <td>{{ c.classID }}</td>
        <td>{{ c.timestamp }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><small>Attendance info is sent from the NFC tag via POST, stored in the database, and then displayed on this page.</small></p>
</div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
